<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Name" Description="Description" ToolsVersion="17.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1101" Action="Hidden" />
    <Rule Id="SA1309" Action="Hidden" />
    <Rule Id="SA1515" Action="None" />
    <Rule Id="SA1633" Action="Hidden" />
    <Rule Id="SX1101" Action="Warning" />
    <Rule Id="SX1309" Action="Warning" />
  </Rules>
</RuleSet>